* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif
        /* 'Helvetica Neue', 'Helvetica', 'Arial', Arial, sans-serif*/
    ;
    font-size: 16px;
    text-rendering: optimizeLegibility !important;
    /* deixa a fonte menos "pixalizada". A 2ª propriedade sobreescreve qualquer outra text-rendering*/
    -webkit-font-smoothing: antialiased !important;
    letter-spacing: 1px;
    background-color: var(--specialBlue);
}

:root {
    --specialBlue: #1f2233;
    --specialRed: #fd5c55;
    --specialRedStrong: #FD5C6B;
    --white: #ffffff;
    --mediumDarkBlue: #2B2F44;
    --mediumDarkBlueTwo: #2f3c7c;
    --ghostWhite: #f8f8ff;
    --cyanGreen: #7ad9c4;
    --lighGrey: #afafaf;
}

.container-margin-bottom {
    margin-bottom: 6rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.padding-left-right {
    padding-left: clamp(16px, 64px, 8%);
    padding-right: clamp(16px, 64px, 8%);
}


.header {
    width: 100%;
    height: 96px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 5;
    background-color: var(--specialBlue);
    top: 0;
    left: 0;
}


.heaader .content {
    width: 100%;
    /* max-width: 1200px;
    margin: 0 auto; */
}

.header .content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    color: var(--white);
}


header#start a#home-responsivo {
    display: none;
}


.main-container {
    padding: 0 8rem;
}

.nav a {
    text-decoration: none;
}

.nav {
    height: 100%;
}

.nav .list-group {
    height: 100%;
    display: flex;
    padding: 0;
    gap: 1rem;
    list-style: none;
}

.nav .button.list-group-item {

    padding: 0;
    border: none;
}

.nav .list-group-item {
    position: relative;
}

.nav .list-group-link:last-child {
    padding-right: 0;
}

.nav .list-group-item .bar {
    display: flex;
    height: 100%;
    user-select: none;
}

.nav .list-group-item .bar::after {
    content: '';
    width: 0;
    height: 4px;
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: var(--white);
    transition: 0.3s ease all;
    animation-duration: 4s;
    animation-name: bar;
}

.nav .list-group-item .bar:hover::after {
    width: 100%;
    transition: 0.3s ease all;
}

.nav .list-group-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    color: var(--ghostWhite);
    opacity: 0.9;
}

#menuButton {
    display: none;
    position: fixed;
    z-index: 10;
    top: -100px;
    bottom: 10px;
    height: 100%;
}

.button .list-group-link:hover {
    transition: 0.4s ease all;
    transition-property: background-color;
    opacity: 1;
}

.presentation-container {
    display: flex;
    justify-content: center;
    padding-top: 96px;
}

.presentation-group-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-bottom: 1.3rem;
}

.presentation-hi {
    text-align: center;
    font-size: 3.1rem;
    color: var(--ghostWhite);
}

.presentation-name {
    font-size: clamp(2.5rem, 3rem, 4.5rem);
    color: var(--specialRed)
}

.presentation-container .list-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1.2rem;
    gap: 1.3rem;
    list-style-type: none;
}

.presentation-container .list-group .list-group-item {
    border: 1px solid var(--mediumDarkBlue);
    padding: 0.8rem 1rem;
    border-radius: 0.3rem;
    font-weight: bold;
    color: var(--ghostWhite)
}

.presentation-container .list-group .list-group-item:hover {
    cursor: pointer;
}

.presentation-container .list-group .list-group-item:last-child {
    margin-right: 0;
}

.group-buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

.button {
    width: 45%;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid var(--mediumDarkBlueTwo);
    border-radius: 0.4rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--ghostWhite);
}

.button.contact {
    background-color: var(--specialRed);
    background: linear-gradient(269.24deg, #f98f8a -14.7%, #fd5c55 92.64%)
}

.button.download {
    transition: 0.4s ease all;
    transition-property: background-color;
}

.button.download:hover {
    background-color: var(--specialRed);
    background: linear-gradient(269.24deg, #f98f8a -14.7%, #fd5c55 92.64%);
    box-shadow: 0px 4px 40px rgba(253, 92, 85, 0.4);
    transition: 0.4s ease all;
    transition-property: background-color;
}

.about-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.about-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.about-group-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 80%;
    border-radius: 50%;
}

.about-me {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
}

.title {
    display: inline-block;
    user-select: none;
    margin: 20px 0px;
    font-size: 2rem;
    color: var(--specialRed);
}

.title::after {
    content: '';
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    background-color: var(--white);
    transition: 0.3s ease all;
    animation-duration: 4s;
    animation-name: bar;
}


.title:hover::after {
    width: 50%;
    transition: 0.3s ease all;
}

.text {
    font-size: 1.25rem;
    color: var(--ghostWhite);
    margin-bottom: 3.2rem;
    line-height: 1.5;
}

.social-media-group {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.social-media-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-media-wrapper.button {
    width: 30%;
    min-width: 180px;
    padding: 0.8rem;
}

.social-media-wrapper.button:hover {
    background-color: var(--specialRed);
    background: linear-gradient(269.24deg, #f98f8a -14.7%, #fd5c55 92.64%);
    box-shadow: 0px 4px 40px rgba(253, 92, 85, 0.4);
    transition: 0.4s ease all;
    transition-property: background-color;
}

.social-media-icon {
    width: 40px;
    height: 40px;
}

.social-media-icon path {
    fill: var(--ghostWhite);
}

.social-media-name {}


.knowledge-group {
    display: flex;
    flex-direction: column;
    align-self: center;
}


.item {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--mediumDarkBlue);
    border-radius: 0.4rem;
    padding: 1rem 1rem;
}

.knowledge-name {
    font-size: 110%;
    margin-left: 1rem;
    color: var(--ghostWhite);
}

.slick-dots li button:before {
    color: var(--ghostWhite);
}

.slick-dots li.slick-active button:before {
    color: red;
}

.slick-slide img {
    width: 30%;
}

.card-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
}

.card-list-item {
    width: 22%;
    min-width: 350px;
    border: 1px solid var(--mediumDarkBlueTwo);
    border-radius: 0.4rem;
    padding-bottom: 1rem;
}

.card-image {
    width: 100%;
    height: 260px;
    border-radius: 0.4rem;
    position: relative;
    z-index: 4;
}

.card-wrapper {
    padding: 0 1rem;
}

.card-details {}


.card-text-group {
    margin: 1rem 0;
}

.card-title {
    color: var(--ghostWhite);
    font-size: 1.6rem;
}

.card-description {
    color: #dbdbdb;
    margin-top: 0.5rem;
}

.card-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
}

.card-icon {
    width: 32px;
    height: 32px;
    transition: 0.2s ease all;
}

.card-icon:hover {
    transform: scale(1.2);
    transition: 0.2s ease all;
}

.card-more {
    text-align: end;
    margin-top: 1rem;
}

.card-link {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.card-link-details {
    display: flex;
    gap: 1rem;
    transition: 0.2s ease all;
}

.card-link-details:hover {
    transform: scale(1.1);
    transition: 0.2s ease all;
}

.card-link-details:hover .card-more-text {
    color: var(--ghostWhite);
}


.card-link-details:hover .card-link-image path {
    fill: var(--ghostWhite);
    transition: 0.2s ease all;
}

.card-more-text {
    font-size: 1.3rem;
    color: var(--lighGrey);
    transition: 0.2s ease all;
}

.card-link-image path {
    fill: var(--lighGrey);
    transition: 0.2s ease all;
}

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container .bar {
    text-align: center;
}

.contact-group {
    width: 100%;
}


.contact-container .social-media-group {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-group .social-media-group .button {}

.social-media-group #email {}

.social-media-group #email::after {
    content: '';
}

.footer-container {

    border-top: 1px solid var(--mediumDarkBlueTwo);
}

.footer-wrapper {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-copyright {
    text-align: center;
    font-size: 1.3rem;
    color: var(--lighGrey);
}

.footer-social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-social-media .social-media-icon path {
    fill: var(--lighGrey);
}

.footer-social-media .footer-social-media-link:hover path {
    fill: var(--ghostWhite);
    transition: 0.2s ease all;
}